@import "tailwindcss";

@theme {
  --animate-fade-in-up: fadeInUp 0.5s ease-out;
  --animate-slide-in: slideIn 0.3s ease-out;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }
}